<div class="container">
  <div class="row my-5"></div>

      <h5 class="font-weight-bold text-center">本当に退会しますか？</h5>


<p class="text-center mt-4">
  退会すると、会員登録情報や<br>
  これまでの購入履歴が閲覧できなくなります。<br>
  退会する場合は、「退会する」をクリックしてください。
  </p>

<div class="row mt-5">
  <div class="col-4"></div>
  <div class="col-6">
  <%= link_to "退会しない", root_path, class:"btn btn-primary ml-3 mr-3 w-25" %>
  <%= link_to "退会する", withdraw_path, method: :patch, class:"btn btn-danger w-25", data: { confirm: '本当に退会しますか？'} %>
  </div>
</div>