<div class="container">
  <div class="col-8">
    <div class="row pt-4"><%- if controller_name != 'sessions' %>
  <h4 class="table-active px-4 ml-4">既に登録済みの方</h4>
  </div>
<div class="row mt-2">
  <div class="ml-5 px-3">
    <u class="text-primary"><%= link_to "こちら", new_session_path(resource_name) %></u>
  </div>
  <p>からログインしてください</p>
</div>
<% end %>
</div>
</div>


<div class="container">
<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
　 <div class="row pt-4 ml-5">
      <div class="table-active px-3 ml-3">会員登録がお済みでない方</div>
   </div>
   <div class="row pt-4">
     <div class="col-2"></div>
      <u class="text-primary mr-3 ml-4">
         <%= link_to "こちら", new_registration_path(resource_name) %>
      </u>
      <p>から新規登録を行ってください</p>
   </div>
<% end %>
</div>

