

<div class="container-fluid">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-4">
<p class="mt-5 border border-dark pt-4 pr-4 pb-4">
  ようこそ、ながのCAKEへ！<br>
  このサイトは、ケーキ販売のECサイトになります。<br>
  会員でない方も商品の閲覧はできますが、<br>
  購入には会員登録が必要になります。
</p>
</div>
</div>

<div class="row">
  <div class="col-3"></div>
<div class="col">
<h4 class="font-weight-bold">新着商品</h4>
</div>
</div>

<div class="row">
  <div class="col-3"></div>
<% @items.last(4).reverse_each do |item| %>
<div class="col-2 mr-4">
<%= image_tag item.image, size: "200x150" %><br>
<p class="font-weight-bold"><%= item.name %><br>
<%= "¥#{item.price.to_s(:delimited)}" %></p>
</div>
<% end %>
</div>

<div class="row">
   <div class="col-10"></div>
   <div class="col mt-2">
     <u class="text-primary"><%= link_to "全ての商品を見る >", items_path %></u>
   </div>
</div>
</div>


