<div class="container-flued">
  <div class="row">
    <div class="col-1"></div>
      <h4 class="table-active px-4 ml-5 mt-4">ジャンル編集</h4>
  </div>

<%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch do |f| %>
  <div class="row mt-5">
    <div class="col-1"></div>
    <div class="col-1 mr-2">
      <%= f.label :ジャンル名 %>
    </div>
    <div class="col-2 mr-3">
      <%= f.text_field :name, class:"w-100" %>
    </div>
    <div class="col-2">
      <%= f.submit '変更を保存', class:"btn btn-success px-4 ml-3" %>
    </div>
<% end %>
</div>
</div>
