*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.admin-login-text{
  padding: 0 15px;
  margin-top: 50px;
  background-color: #dcdcdc;
  font-size: 30px;
}

.sign-up-title{
  margin-top: 20px;
  padding: 0 15px;
  background-color: #dcdcdc;
  font-size: 30px;
}

